.story-card {
  position: relative;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  width: 257px;
  height: 459px; /* Set a height to ensure proper layout */
  cursor: pointer;
}

.story-card img,
.story-card video {
  /* This rule applies to both img and video */
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures that the content covers the area */
}

.story-description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  padding: 10px;
  z-index: 3; /* Ensure it appears above the shadows */
}

.story-description h3 {
  margin: 0;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.story-description p {
  margin: 5px 0 0 0;
  font-size: 14px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.slides-number {
  display: flex;
  width: 100%;
  position: absolute;
  justify-content: center;
  gap: 2;
  top: 10px;
  left: 0;
  right: 0;

  > div {
    height: 4px;
    background-color: #d9d9d980;
    min-width: 32px;
    margin: 0 5px 0 5px;
  }
}

.story-edit {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 40px;
  color: black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  z-index: 1000;
  padding: 10px 20px;
  border: none;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
}
